extends layout

block content
	script(src='/javascripts/jquery-1.10.2.js')
	script(src='http://d3js.org/d3.v3.js')
	script(src='/javascripts/bb.js')
	- var _ticks = ticks;
	- var _coin = coin;
	- var _bbParams = bbParams;
	- var ethTicks = [], daoTicks = [], btcTicks = [], xlmTicks = [],  etcTicks = [];
	- var headers = ["name", "pair", "creation"] ;
	- var etheur = [];
	- var daoeur = [];
	- var ethBtc = [];
	- var xlmBtc = [];
	- var etcEur = [];
	- var isEth = !(_coin && (_coin.toLowerCase()!=='dao' || _coin.toLowerCase()!=='btc' || _coin.toLowerCase()!=='xlm' || _coin.toLowerCase()!=='etc'));
	- var isBtc = !isEth && (_coin && _coin.toLowerCase()==='btc');
	- var isDao = !isEth && (_coin && _coin.toLowerCase()==='dao');
	- var isXlm = !isEth && (_coin && _coin.toLowerCase()==='xlm');
	- var isEtc = !isEth && (_coin && _coin.toLowerCase()==='etc');
	- _ticks.forEach(function(t) {
	-	if(t.bbDataEth){
	-		etheur.push(t.bbDataEth);
	-		ethTicks.push(t);
	-	}
	-	if(t.bbDataDAO){
	-		daoeur.push(t.bbDataDAO);
	-		daoTicks.push(t);
	-	}
	-	if(t.bbDataBtc){
	-		ethBtc.push(t.bbDataBtc);
	-		btcTicks.push(t);
	-	}
	-	if(t.bbDataXlm){
	-		xlmBtc.push(t.bbDataXlm);
	-		xlmTicks.push(t);
	-	}
	-	if(t.bbDataEtc){
	-		etcEur.push(t.bbDataEtc);
	-		etcTicks.push(t);
	-	}
	- })
	- var bbData = isEth ? etheur : isBtc? ethBtc : isDao?  daoeur : isXlm? xlmBtc : etcEur;
	- var coinTicks= isEth ? [ethTicks.pop()] : isBtc? [btcTicks.pop()] : isDao? [daoTicks.pop()] : isXlm? [xlmTicks.pop()] : [etcTicks.pop()];
	form(id="OrderForm")
		table.table.table-hover.table-bordered
			thead
			tr
			each header in headers
				th
					span= header
			tbody
			if coinTicks.length
				each tick in coinTicks
					tr
					td
						span(id="tick.name")= tick.name
					td
						span(id="tick.pair.c")= tick.pair.c
					td
						span(id="tick.creationAsString")= tick.creationAsString
				tr
				td
				td
					div(class="input-group")
						span(class="input-group-btn")
							input(type="submit", class="btn btn-default", onclick="window.open('https://crypteum.io/?utm_source=crypto-advisor&utm_medium=service&utm_term=blockchain&utm_campaign=crypto-investments', '_blank')", value=" Order crypto now")
						input(id="order" type="text", class="form-control", placeholder="place your pair")
				td
	div#bb(data-bb= bbData)
	div#bbParams(data-bbParams=bbParams)

